In [2]:
from openpyxl import Workbook
from random import *

In [43]:
wb = Workbook()
ws = wb.active

### 한 줄씩 data 넣기

In [4]:
ws.append(["번호","영어","수학"])

In [5]:
for i in range(1,11):
    ws.append([i, randint(0,100),randint(0,100)])

##### 영어 점수만 가져오고 싶을 때

In [6]:
col_Eng = ws["B"]

In [7]:
print(col_Eng)

(<Cell 'Sheet'.B1>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.B11>)

In [8]:
for cell in col_Eng:
    print(cell.value)

영어
44
2
45
60
92
10
70
72
65
80

- 번호 없이 영어 수학 점수만 가져오고 싶을 때

In [9]:
col_score = ws["B:C"]

In [10]:
for col in col_score:
    for score in col:
        print(score.value)
    print()

영어
44
2
45
60
92
10
70
72
65
80

수학
60
5
88
21
97
19
100
43
68
23

- 항목 값만 가져오기

In [11]:
title = ws[1]

In [12]:
for t in title:
    print(t.value, end = " ")

번호 영어 수학

In [13]:
row_range = ws[2:6] # 2행부터 6행까지

In [14]:
for rows in row_range:
    for cell in rows:
        print(cell.value, end = "\t")
    print()

1	44	60
2	2	5
3	45	88
4	60	21
5	92	97

- 2번쨰 줄부터 마지막 줄까지

In [15]:
row_range = ws[2:ws.max_row]

In [16]:
for row in row_range:
    for cell in row:
        print(cell.value,end= " ")
    print()

1 44 60
2 2 5
3 45 88
4 60 21
5 92 97
6 10 19
7 70 100
8 72 43
9 65 68
10 80 23

In [17]:
from openpyxl.utils.cell import coordinate_from_string

In [18]:
for row in row_range:
    for cell in row:
        print(cell.coordinate, end = " ")
    print()

A2 B2 C2
A3 B3 C3
A4 B4 C4
A5 B5 C5
A6 B6 C6
A7 B7 C7
A8 B8 C8
A9 B9 C9
A10 B10 C10
A11 B11 C11

In [19]:
for row in row_range:
    for cell in row:
        xy = coordinate_from_string(cell.coordinate) # 행 열 좌표값 구분해서 출력
        print(xy, end = "")
    print()

('A', 2)('B', 2)('C', 2)
('A', 3)('B', 3)('C', 3)
('A', 4)('B', 4)('C', 4)
('A', 5)('B', 5)('C', 5)
('A', 6)('B', 6)('C', 6)
('A', 7)('B', 7)('C', 7)
('A', 8)('B', 8)('C', 8)
('A', 9)('B', 9)('C', 9)
('A', 10)('B', 10)('C', 10)
('A', 11)('B', 11)('C', 11)

### 전체 row를 가져오고 싶을 때

In [22]:
print(ws.rows)
print(tuple(ws.rows)) #행마다 가져옴
print(tuple(ws.columns)) #열마다 가져옴

<generator object Worksheet._cells_by_row at 0x00000198FA6666D0>
((<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>, <Cell 'Sheet'.C1>), (<Cell 'Sheet'.A2>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.C2>), (<Cell 'Sheet'.A3>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.C3>), (<Cell 'Sheet'.A4>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.C4>), (<Cell 'Sheet'.A5>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.C5>), (<Cell 'Sheet'.A6>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.C6>), (<Cell 'Sheet'.A7>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.C7>), (<Cell 'Sheet'.A8>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.C8>), (<Cell 'Sheet'.A9>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.C9>), (<Cell 'Sheet'.A10>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.C10>), (<Cell 'Sheet'.A11>, <Cell 'Sheet'.B11>, <Cell 'Sheet'.C11>))
((<Cell 'Sheet'.A1>, <Cell 'Sheet'.A2>, <Cell 'Sheet'.A3>, <Cell 'Sheet'.A4>, <Cell 'Sheet'.A5>, <Cell 'Sheet'.A6>, <Cell 'Sheet'.A7>, <Cell 'Sheet'.A8>, <Cell 'Sheet'.A9>, <Cell 'Sheet'.A10>, <Cell 'Sheet'.A11>), (<Cell 'Sheet'.B1>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.B11>), (<Cell 'Sheet'.C1>, <Cell 'Sheet'.C2>, <Cell 'Sheet'.C3>, <Cell 'Sheet'.C4>, <Cell 'Sheet'.C5>, <Cell 'Sheet'.C6>, <Cell 'Sheet'.C7>, <Cell 'Sheet'.C8>, <Cell 'Sheet'.C9>, <Cell 'Sheet'.C10>, <Cell 'Sheet'.C11>))

In [26]:
for row in tuple(ws.rows):
    print(row[1].value) #tuple형태인 row의 [1]번 인덱스 값은 번호/영어/수학 중 영어 -> 영어 행의 모든 내용 가져옴

영어
44
2
45
60
92
10
70
72
65
80

In [28]:
for col in tuple(ws.columns):
    print(col[0].value)

번호
영어
수학

##### 같은 방식

In [30]:
for row in ws.iter_rows(): #전체 row
    print(row[1].value)

영어
44
2
45
60
92
10
70
72
65
80

In [34]:
for col in ws.iter_cols():#전체 columns
    print(col[0].value)

번호
영어
수학

In [ ]:
# ws.iter_cols(min_row,min_col,max_row,max_col)
# min_row = 1, max_row = 5 등의 값을 넣어 범위설정 가능
#해당 숫자는 엑셀 기준!

In [42]:
for cell in ws.iter_rows(min_row=1,max_row=4,min_col=1,max_col=3):#전체 columns
    print(cell[0].value, cell[1].value, cell[2].value)
    print(cell)
    
for cell in ws.iter_cols(min_row=1,max_row=4,min_col=1,max_col=3):#전체 columns
    print(cell[0].value, cell[1].value, cell[2].value)
    print(cell)
    
#둘이 값 출력 형태가 다른 이유는 불러오는 방식(행/열)이 다르기 때문

번호 영어 수학
(<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>, <Cell 'Sheet'.C1>)
1 44 60
(<Cell 'Sheet'.A2>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.C2>)
2 2 5
(<Cell 'Sheet'.A3>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.C3>)
3 45 88
(<Cell 'Sheet'.A4>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.C4>)
번호 1 2
(<Cell 'Sheet'.A1>, <Cell 'Sheet'.A2>, <Cell 'Sheet'.A3>, <Cell 'Sheet'.A4>)
영어 44 2
(<Cell 'Sheet'.B1>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.B4>)
수학 60 5
(<Cell 'Sheet'.C1>, <Cell 'Sheet'.C2>, <Cell 'Sheet'.C3>, <Cell 'Sheet'.C4>)

In [ ]:
for cell in ws.iter_rows(min_row=1,max_row=4,min_col=1,max_col=3):#전체 columns
    print(cell[0].value, cell[1].value, cell[2].value)

번호 1 2
영어 44 2
수학 60 5

In [7]:
wb.save("sample.xlsx")